.app-container{
    background-image: url("https://img.freepik.com/foto-gratis/hombre-usando-tecnologia-inteligente-maqueta-psd-tableta-digital_53876-110815.jpg?t=st=1656614007~exp=1656614607~hmac=ed168ee4108d884101f557120c6636b0ffaab248669a742c4ede5b916e858188&w=740");
    background-size: cover;
    height: 75vh;
    width: 191vh;
    margin-left: 7%;
}