<div class="relative" style="height: 80vh; margin: auto; overflow: hidden;">
    <img src="https://img.freepik.com/foto-gratis/codigo-programacion-resumen-antecedentes-tecnologia-desarrollador-software-script-computadora_34663-31.jpg?w=740"
         class="banner"
    >
    
    <img class="absolute foto-carnet" src="../../../assets/fotoFrente.jpeg">
    
    <div class="absolute items_cv">
        <a routerLink="/educacion" class="items_cv">
            <img src="../../../assets/sombrero-de-graduacion.png">
        </a>
        <br>
        <a routerLink="/experiencia-laboral" class="items_cv">
            <img src="../../../assets/briefcase.png">
        </a>
        <br>
        <a routerLink="/skills" class="items_cv">
            <img src="../../../assets/skills.png">
        </a>
    </div>
</div>