.app-container{
    background-image: url("https://img.freepik.com/foto-gratis/fondo-banner-trazo-pincel-rojo-negro-perfecto-canva_1361-3597.jpg?t=st=1653664535~exp=1653665135~hmac=3811570fc8e903ae2987728a90298c870d40e0ed43f544ca7686e3dfeb9f5863&w=740");
    background-size: cover;
    height: 100vh;
}